@charset "utf-8";
/**
 * [neui百度地图插件v2.0.0] 测试中
 * Author: Mufeng
 * Date: 2021.06.18
 * Update: 2024.11.27
 */


/*===============================================================================================*/
/*                                    1、百度地图原有图层样式修改
/*===============================================================================================*/
/* 隐藏默认的百度地图版权信息 */
.BMap_cpyCtrl span[_cid="1"] { display: none!important; }

/* 隐藏左下角百度地图logo */
.anchorBL a, .anchorBL img { display: none!important; }



/*===============================================================================================*/
/*                                    2、自定义百度地图样式
/*===============================================================================================*/
/*+------------------------ 地图根节点 ------------------------+*/
.ne__bd_root {
	width: 100%;
	/* height: 100%; */ /* 高度在控件中设置 */
	border-radius: 4px;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
}

/*+------------------------ 地图样式 ------------------------+*/
/*+ 版权信息 +*/
.ne__bd_copyright{
	padding: 6px 15px;
	background-color: #8ea8e0;
	border-radius: 4px;
	opacity: .9;
	filter: alpha(opacity = 90);
	color: #fff;
	font-size: 12px;
	box-shadow: 0 2px 2px #888;
}

/*+ 文本标注 +*/
.BMapLabel.ne__bd_label {
	border: 0 !important;
	background: transparent !important;
}
.ne__bd_label_bdLabel {
	position: relative;
	background-color: #fff;
	padding: 12px 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #19b6f8;
	border-radius: 3px;
	box-shadow: 0 1px 3px 0px #3291b9;
	color: #0c88e8;
	font-size: 15px;
	font-weight: bold;
}

.ne__bd_label_bdLabel.blue {
	border-color: #1296db;
	color: #1296db;
}

.ne__bd_label_bdLabel:before {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 15px solid #fff;
}

.ne__bd_label_bdLabel p,
.ne__bd_label_bdLabel br {
	line-height: 1.75;
}

/*+ 标注点信息窗 +*/
.ne__bd_info_title {
	font-size: 16px;
}

.ne__bd_info_describe {
	padding: 5px 8px;
	font-size: 14px;
}

.ne__bd_info_describe p,
.ne__bd_info_describe br {
	line-height: 1.75;
}


/*+ 鼠标绘制区 +*/
.bdmap__mouse {
	position: absolute;
	top: 50px;
	right: 25px;
	opacity: .90;
	filter: alpha(opacity=90);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
.bdmap__mouse_title {
	background-color: #8abbff;
	padding: 8px 20px;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.bdmap__mouse_title:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	margin-left: 8px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #fff;
}
.bdmap__mouse_title.angle-down {

}
.bdmap__mouse_title.angle-down:after {
	border-bottom: 0;
	border-top: 4px solid #fff;
}
.bdmap__mouse_content {
	margin-top: 2px;
	height: auto;
	max-height: 500px;
	background-color: #fff;
	padding: 5px 20px;
	border-radius: 4px;
	color: #888;
	font-size: 12px;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.bdmap__mouse_content p {
	margin-top: 2px;
	font-size: 12px;
}
.bdmap__mouse_content p:first-child {
	margin-top: 0;
}
.bdmap__mouse_content p.bold {
	font-size: 1.1em;
	font-weight: bold;
}




/*===============================================================================================*/
/*                                    3、百度地图原生样式
/*===============================================================================================*/
/*
* [百度地图样式在线资源]
* 鼠标绘制工具：http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css
* 检索信息窗口：http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css
*/
/*+------------------------ 鼠标绘制工具 ------------------------+*/
.BMapLib_Drawing_panel {
	height: 47px;
	border: 1px solid #666;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	float: left
}

.BMapLib_Drawing .BMapLib_box {
	border-right: 1px solid #d2d2d2;
	float: left;
	height: 100%;
	width: 64px;
	height: 100%;
	background-image: url('../img/bmap_drawing_tool_bg.png');
	cursor: pointer
}

.BMapLib_Drawing .BMapLib_last {
	border-right: 0
}

.BMapLib_Drawing .BMapLib_hander {
	background-position: 0 0
}

.BMapLib_Drawing .BMapLib_hander_hover {
	background-position: 0 -52px
}

.BMapLib_Drawing .BMapLib_marker {
	background-position: -65px 0
}

.BMapLib_Drawing .BMapLib_marker_hover {
	background-position: -65px -52px
}

.BMapLib_Drawing .BMapLib_circle {
	background-position: -130px 0
}

.BMapLib_Drawing .BMapLib_circle_hover {
	background-position: -130px -52px
}

.BMapLib_Drawing .BMapLib_polyline {
	background-position: -195px 0
}

.BMapLib_Drawing .BMapLib_polyline_hover {
	background-position: -195px -52px
}

.BMapLib_Drawing .BMapLib_polygon {
	background-position: -260px 0
}

.BMapLib_Drawing .BMapLib_polygon_hover {
	background-position: -260px -52px
}

.BMapLib_Drawing .BMapLib_rectangle {
	background-position: -325px 0
}

.BMapLib_Drawing .BMapLib_rectangle_hover {
	background-position: -325px -52px
}