
@charset "utf-8";

/**
* [neuiNav]
* 导航菜单控件
* Author: ChenMufeng
* Date: 2021.05.26
* Update: 2021.05.28
*/

/*+----------------------------------------+*/
/* body,html{ width:100%; margin:0 auto; padding:0; -webkit-text-size-adjust:none; -webkit-tap-highlight-color:transparent; }
*:not(input,textarea) { -webkit-touch-callout: none; -webkit-user-select: none; }
html{font-size: 20px;}
@media only screen and (min-width:400px){html{font-size:21.33333333px!important}}
@media only screen and (min-width:414px){html{font-size:21px!important}}
@media only screen and (min-width:480px){html{font-size:25.6px!important}}
body{background-color:#fff;line-height:1.5;font-family:'Hiragino Sans GB W3','Hiragino Sans GB','microsoft yahei','Sim sun','Helvetica Neue','Helvetica,sans-serif';font-size:.7rem;color:#212121;overflow-x:hidden;overflow-y:auto}
body.mobile{ max-width: 640px; margin: 0 auto; }
body.transparent{ background-color: #f4f4f4; }
*{margin:0;padding:0;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;outline:0;-webkit-tap-highlight-color:transparent}
header, footer, main, section, menu, nav, article, aside, hgroup, summary, details, figcaption, figure{display: block;} */

/*+----------------------------------------+*/
/* body{
    max-width: 640px;
    margin: 0 auto;
    background-color: #f2f2f2;
} */


/*+--------------------菜单公共--------------------+*/
/*+菜单通用+*/
.nav{ width: 97%; margin: 0 auto; }
.nav__link{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.nav__link a{
    display: block;
    width: 100%;
    height: 100%;
}


/*+----------------横排菜单----------------+*/
.nav-across{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: box;
    display: flex;
    flex-wrap: wrap;

    margin-top: 5px;
    padding: 0 12px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 1px -5px 1px rgba(0, 0, 0, .15);
}
.nav-across .nav__item{
    -webkit-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    -o-flex: auto;
    flex: auto;

    position: relative;
    /* width: 100%; */
    width: auto;
    min-width: 28%;
    margin-left: 8px;
    padding: 8px 0;
}
.nav-across .nav__item:first-child{ 
    margin-left: 0;
}
.nav-across .nav__icon{ 
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 5px;
    background-color: #effff6;
    border: 2px solid #96e8ba;
    border-radius: 100%;
}
.nav-across .nav__icon i{
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 32px;
    text-align: center;
}
.nav-across .nav__text{
    margin-top: 8px;
}
.nav-across .nav__title{
    display: block;
    text-align: center;
    color: #585858;
    font-size: .8rem;
}
.nav-across .nav__subtitle{
    display: block;
    text-align: center;
    color: #878787;
    font-size: .6rem;
    display: none;
}
/*+每行N个菜单+*/
.nav-across.column-3 .nav__item{
    min-width: 28%;
}
.nav-across.column-4 .nav__item{
    min-width: 22%;
}


/*+----------------紧排菜单----------------+*/
.nav-down{ 
    margin-top: 15px; 
    margin-bottom: 10px;
}
.nav-down .nav__item{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: box;
    display: flex;
    align-items: center;
    
    position: relative;
    width: 100%;
    margin-top: 6px;
    padding: 10px 20px 10px 10px;
    background-color: #fff;
    border-radius: 4px;
}
.nav-down .nav__item:first-child{ margin-top: 0; }
.nav-down .nav__item:after{
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-style: solid;
    border-color: #b2aeae;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-down .nav__icon{ 
    width: 45px;
    height: 45px;
    margin-right: 5px;
    padding: 5px;
    /*border: 1px solid #ddd;*/
}
.nav-down .nav__icon i{
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    font-size: 30px;
}
.nav-down .nav__text{
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    width: 100%;
}
.nav-down .nav__title{
    display: block;
    color: #585858;
    font-size: .8rem;
}
.nav-down .nav__subtitle{ 
    display: block;
    margin-top: 4px;
    color: #878787;
    font-size: .6rem;
}

/*+菜单样式：宽松型+*/
.nav-down.theme-loose .nav__item{
    margin-top: 0;
    /*border-top: 1px solid #f6f6f6;*/
    border-top: 1px solid #f4f8fb;
    border-radius: 0;
}
.nav-down.theme-loose .nav__item:first-child{ 
    border-top: 0;
}

/*+菜单样式：紧凑型+*/
.nav-down.theme-tight .nav__item{
    margin-top: 0;
    padding: 5px 20px 5px 10px;
    /*border-top: 1px solid #f6f6f6;*/
    border-top: 1px solid #f4f8fb;
    border-radius: 0;
}
.nav-down.theme-tight .nav__item:first-child{ 
    border-top: 0;
}
.nav-down.theme-tight .nav__text{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: box;
    display: flex;
    align-items: center;
}
.nav-down.theme-tight .nav__title{
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
}
.nav-down.theme-tight .nav__subtitle{
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    width: 100%;
    margin-right: 5px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
}
.nav-down.theme-tight .nav__icon{
    width: 40px;
    height: 40px;
}
.nav-down.theme-tight .nav__icon i{
    font-size: 22px;
}

/*+菜单分组+*/
.nav-down .nav__group{ }
.nav-down .nav__group_caption{
    margin: 20px 0 8px 0;
    font-size: .9rem;
}
.nav-down .nav__group_content{ }
.nav-down .nav__group .nav__item:first-child{
    border-radius: 4px 4px;
}
.nav-down .nav__group .nav__item:last-child{
    border-radius: 0 0 4px 4px;
}


/*+----------------媒体查询----------------+*/
@media screen and (max-width: 374px){
    .nav-across.column-3 .nav__item{ min-width: 20%; }
    .nav-across.column-4 .nav__item{ min-width: 15%; }
}