/*!
 * [neuiPicker]
 * 选择器控件
 * 基于 WeUI v1.1.2 开发而成 (https://weui.io) (https://github.com/weui/weui) (https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css)
 * Author: Mufeng
 * Date: 2021.06.03
 * Update: 2021.08.09
 */
 
 body,html{ width:100%; margin:0 auto; padding:0; -webkit-text-size-adjust:100%; -webkit-tap-highlight-color:transparent; }
 *:not(input,textarea) { -webkit-touch-callout: none; -webkit-user-select: none; }
 html{font-size: 20px;}
 @media only screen and (min-width:400px){html{font-size:21.33333333px!important}}
 @media only screen and (min-width:414px){html{font-size:21px!important}}
 @media only screen and (min-width:480px){html{font-size:25.6px!important}}
 body{background-color:#fff;line-height:1.5;font-family:'Hiragino Sans GB W3','Hiragino Sans GB','microsoft yahei','Sim sun','Helvetica Neue','Helvetica,sans-serif';font-size:.7rem;color:#212121;overflow-x:hidden;overflow-y:auto}
 body.mobile{ max-width: 640px; margin: 0 auto; }
 body.transparent{ background-color: #f4f4f4; }
 *{margin:0;padding:0;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;outline:0;-webkit-tap-highlight-color:transparent}
 header, footer, main, section, menu, nav, article, aside, hgroup, summary, details, figcaption, figure{display: block;}
 a { text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
 a img { border: 0 }
 
 
 /*+----------------选择器样式----------------+*/
 .neatui-picker__shade {
	 background: rgba(0,0,0,.6)
 }
 .neatui-picker__shade,.neatui-picker__shade_transparent {
	 position: fixed;
	 z-index: 1000;
	 top: 0;
	 right: 0;
	 left: 0;
	 bottom: 0
 }
 .neatui-picker {
	 position: fixed;
	 width: 100%;
	 left: 0;
	 bottom: 0;
	 z-index: 5000;
	 -webkit-backface-visibility: hidden;
	 backface-visibility: hidden;
	 -webkit-transform: translateY(100%);
	 transform: translateY(100%);
	 -webkit-transition: -webkit-transform .3s;
	 transition: -webkit-transform .3s;
	 transition: transform .3s;
	 transition: transform .3s,-webkit-transform .3s
 }
 
 .neatui-picker__hd {
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: flex;
	 padding: 9px 15px;
	 background-color: #fff;
	 background-color: #eee;
	 position: relative;
	 text-align: center;
	 font-size: 17px
 }
 
 .neatui-picker__hd:after {
	 content: " ";
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 right: 0;
	 height: 1px;
	 border-bottom: 1px solid #e5e5e5;
	 color: #e5e5e5;
	 -webkit-transform-origin: 0 100%;
	 transform-origin: 0 100%;
	 -webkit-transform: scaleY(.5);
	 transform: scaleY(.5)
 }
 
 .neatui-picker__action {
	 display: block;
	 -webkit-box-flex: 1;
	 -webkit-flex: 1;
	 flex: 1;
	 color: #1aad19
 }
 
 .neatui-picker__title{
	 font-size: 16px;
	 color: #333;
	 width: 40%;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap;
	 word-break: break-all;
	 word-wrap: break-word;
 }
 .neatui-picker__action:first-child {
	 text-align: left;
	 color: #888
 }
 
 .neatui-picker__action:last-child {
	 text-align: right
 }
 
 .neatui-picker__bd {
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: flex;
	 position: relative;
	 background-color: #fff;
	 height: 238px;
	 overflow: hidden
 }
 
 .neatui-picker__group {
	 -webkit-box-flex: 1;
	 -webkit-flex: 1;
	 flex: 1;
	 position: relative;
	 height: 100%
 }
 
 .neatui-picker__mask {
	 top: 0;
	 height: 100%;
	 margin: 0 auto;
	 background: -webkit-linear-gradient(top,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6)),-webkit-linear-gradient(bottom,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6));
	 background: linear-gradient(180deg,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6)),linear-gradient(0deg,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6));
	 background-position: top,bottom;
	 background-size: 100% 102px;
	 background-repeat: no-repeat;
	 -webkit-transform: translateZ(0);
	 transform: translateZ(0)
 }
 
 .neatui-picker__indicator,.neatui-picker__mask {
	 position: absolute;
	 left: 0;
	 width: 100%;
	 z-index: 3
 }
 
 .neatui-picker__indicator {
	 height: 34px;
	 top: 102px
 }
 
 .neatui-picker__indicator:before {
	 top: 0;
	 border-top: 1px solid #e5e5e5;
	 -webkit-transform-origin: 0 0;
	 transform-origin: 0 0;
	 -webkit-transform: scaleY(.5);
	 transform: scaleY(.5)
 }
 
 .neatui-picker__indicator:after,.neatui-picker__indicator:before {
	 content: " ";
	 position: absolute;
	 left: 0;
	 right: 0;
	 height: 1px;
	 color: #e5e5e5
 }
 
 .neatui-picker__indicator:after {
	 bottom: 0;
	 border-bottom: 1px solid #e5e5e5;
	 -webkit-transform-origin: 0 100%;
	 transform-origin: 0 100%;
	 -webkit-transform: scaleY(.5);
	 transform: scaleY(.5)
 }
 
 .neatui-picker__content {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%
 }
 
 .neatui-picker__item {
	 padding: 0;
	 height: 34px;
	 line-height: 34px;
	 text-align: center;
	 color: #000;
	 text-overflow: ellipsis;
	 white-space: nowrap;
	 overflow: hidden;
	 font-size: 15px;
 }
 
 .neatui-picker__item_disabled {
	 color: #999
 }
 
 @-webkit-keyframes a {
	 0% {
		 -webkit-transform: translate3d(0,100%,0);
		 transform: translate3d(0,100%,0)
	 }
 
	 to {
		 -webkit-transform: translateZ(0);
		 transform: translateZ(0)
	 }
 }
 
 @keyframes a {
	 0% {
		 -webkit-transform: translate3d(0,100%,0);
		 transform: translate3d(0,100%,0)
	 }
 
	 to {
		 -webkit-transform: translateZ(0);
		 transform: translateZ(0)
	 }
 }
 
 .neatui-animate-slide-up {
	 -webkit-animation: a ease .3s forwards;
	 animation: a ease .3s forwards
 }
 
 @-webkit-keyframes b {
	 0% {
		 -webkit-transform: translateZ(0);
		 transform: translateZ(0)
	 }
 
	 to {
		 -webkit-transform: translate3d(0,100%,0);
		 transform: translate3d(0,100%,0)
	 }
 }
 
 @keyframes b {
	 0% {
		 -webkit-transform: translateZ(0);
		 transform: translateZ(0)
	 }
 
	 to {
		 -webkit-transform: translate3d(0,100%,0);
		 transform: translate3d(0,100%,0)
	 }
 }
 
 .neatui-animate-slide-down {
	 -webkit-animation: b ease .3s forwards;
	 animation: b ease .3s forwards
 }
 
 @-webkit-keyframes c {
	 0% {
		 opacity: 0
	 }
 
	 to {
		 opacity: 1
	 }
 }
 
 @keyframes c {
	 0% {
		 opacity: 0
	 }
 
	 to {
		 opacity: 1
	 }
 }
 
 .neatui-animate-fade-in {
	 -webkit-animation: c ease .3s forwards;
	 animation: c ease .3s forwards
 }
 
 @-webkit-keyframes d {
	 0% {
		 opacity: 1
	 }
 
	 to {
		 opacity: 0
	 }
 }
 
 @keyframes d {
	 0% {
		 opacity: 1
	 }
 
	 to {
		 opacity: 0
	 }
 }