@charset "utf-8";
/**
 * [neui百度地图插件v2.0.0] 测试中
 * Author: Mufeng
 * Date: 2021.06.18
 * Update: 2024.11.22
 */

/*===============================================================================================*/
/*                                    1、自定义百度地图样式
/*===============================================================================================*/
/*+------------------------ 地图根节点 ------------------------+*/
.ne-bd-map-root {
	width: 100%;
	/* height: 100%; */
	border-radius: 8px;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
}

/*+------------------------ 地图样式 ------------------------+*/
/*+ 文本标 +*/
.BMapLabel.ne_bd_label {
	border: 0 !important;
	background: transparent !important;
}

.bdLabel {
	position: relative;
	background-color: #fff;
	padding: 12px 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #19b6f8;
	border-radius: 3px;
	box-shadow: 0 1px 3px 0px #3291b9;
	color: #0c88e8;
	font-size: 15px;
	font-weight: bold;
}

.bdLabel.blue {
	border-color: #1296db;
	color: #1296db;
}

.bdLabel:before {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 15px solid #fff;
}

.bdLabel p,
.bdLabel br {
	line-height: 1.75;
}

/*+ 标注点信息窗 +*/
.bdInfoTitle {
	font-size: 16px;
}

.bdInfoDescribe {
	padding: 5px 8px;
	font-size: 14px;
}

.bdInfoDescribe p,
.bdInfoDescribe br {
	line-height: 1.75;
}



/*===============================================================================================*/
/*                                    2、百度地图原生样式
/*===============================================================================================*/
/*
* [百度地图样式在线资源]
* 鼠标绘制工具：http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css
* 检索信息窗口：http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css
*/
/*+------------------------ 鼠标绘制工具 ------------------------+*/
.BMapLib_Drawing_panel {
	height: 47px;
	border: 1px solid #666;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	float: left
}

.BMapLib_Drawing .BMapLib_box {
	border-right: 1px solid #d2d2d2;
	float: left;
	height: 100%;
	width: 64px;
	height: 100%;
	background-image: url('../img/bmap_drawing_tool_bg.png');
	cursor: pointer
}

.BMapLib_Drawing .BMapLib_last {
	border-right: 0
}

.BMapLib_Drawing .BMapLib_hander {
	background-position: 0 0
}

.BMapLib_Drawing .BMapLib_hander_hover {
	background-position: 0 -52px
}

.BMapLib_Drawing .BMapLib_marker {
	background-position: -65px 0
}

.BMapLib_Drawing .BMapLib_marker_hover {
	background-position: -65px -52px
}

.BMapLib_Drawing .BMapLib_circle {
	background-position: -130px 0
}

.BMapLib_Drawing .BMapLib_circle_hover {
	background-position: -130px -52px
}

.BMapLib_Drawing .BMapLib_polyline {
	background-position: -195px 0
}

.BMapLib_Drawing .BMapLib_polyline_hover {
	background-position: -195px -52px
}

.BMapLib_Drawing .BMapLib_polygon {
	background-position: -260px 0
}

.BMapLib_Drawing .BMapLib_polygon_hover {
	background-position: -260px -52px
}

.BMapLib_Drawing .BMapLib_rectangle {
	background-position: -325px 0
}

.BMapLib_Drawing .BMapLib_rectangle_hover {
	background-position: -325px -52px
}