@charset "utf-8";

/**
* 小工具 -> 百度周边清单
* Date: 2025.12.21
* Update: 2025.12.29
*/
/*+ --------  -------- +*/

html,
body {
    width: 99.5%;
    margin: 0.25% auto;
    height: 99.5%;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/*+ placeholder +*/
::-webkit-input-placeholder{
	/* color: #bfbfbf; */
	color: #e2dcdc;
	font-size: 12px;
}
::-moz-placeholder{
	color: #e2dcdc;
	font-size: 12px;
}
:-moz-placeholder{
	color: #e2dcdc;
	font-size: 12px;
}
:-ms-input-placeholder{
	color: #e2dcdc;
	font-size: 12px;
}

/*+ --------  -------- +*/
.bds {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
	border: 1px solid #cac9c9;
    border-radius: 4px;
}

.bds > div {
    display: inline-block;
    vertical-align: top;
}


/*+ -------- 左侧：地图区域 -------- +*/
.bds__graph {
	position: relative;
    width: 55%;
	height: 100%;
}
.bds__graph_coord,
.bds__graph_map {
    padding: 5px 8px;
}
/*+ 地图坐标区域 +*/
.bds__graph_coord {
	position: absolute;
	z-index: 1;
	left: 20px;
	top: 20px;
	padding: 10px 15px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 4px 0 #b4b4b4;
	opacity: 1;
	filter: alpha(opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	
}
.bds__graph_coord_row {
    margin-top: 5px;
}
.bds__graph_coord_row:first-child {
    margin-top: 0;
}
.bds__graph_coord_row > div {
    display: inline-block;
    vertical-align: middle;
}
.bds__graph_coord_row label {
    display: block;
    margin-left: 3px;
    color: #999;
    font-size: 10px;
}
.bds__graph_coord_column {
	width: auto;
	margin-left: 5px;
}
.bds__graph_coord_column:first-child {
	margin-left: 0;
}
.bds__graph_coord_row_title,
.bds__graph_coord_row_content {
	display: inline-block;
	vertical-align: middle;
}
.bds__graph_coord_row_title {
    width: 40px;
    text-align: right;
    color: #666;
    font-size: 14px;
	font-weight: 550;
}
.bds__graph_coord_row_content {
    width: 25%;
}
.bds__graph_coord_row_content input[type="text"] {
    width: 100%;
    height: 32px;
    line-height: 28px\9;
    margin-left: 5px;
    padding: 0 5px;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 2px;
}
.bds__graph_coord_row_content input[type="text"][readonly],
.bds__graph_coord_row_content input[type="text"]:read-only {
    background-color: #fdfdfd !important;
}
.bds__graph_coord_row_btn {
    margin-left: 5px;
}
.bds__graph_coord_row_btn button[type="button"] {
    padding: 0 8px;
    font-size: 13px;
}
.bds__graph_coord_column input[type="text"] {
	width: 200px;
}


/*+ 结果展示区 */
.bds__graph_result {
	position: absolute;
	z-index: 2;
	right: 10px;
	top: 200px;
	width: 350px;
	height: 400px;
	background-color: #fff;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px 0 1px 1px;
	border-radius: 4px 0 0 4px;
}

.btn-stretch {
	position: absolute;
	z-index: 1;
	left: -20px;
	top: 50%;
	width: 20px;
	height: 40px;
	background-color: #8491d2;
	border: 1px solid #8491d2;
	border-radius: 4px 0 0 4px;
	cursor: pointer;
}

.btn-stretch:before {
	content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	border-style: solid;
	border-color: #fff;
	border-width: 1px 1px 0 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.btn-stretch:hover {
	opacity: .8;
	filter: alpha(opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.btn-stretch:hover:before {
	border-color: #fff;	
}
.bds__graph_result.stretch-in {
	width: 0;
}
.bds__graph_result.stretch-in .btn-stretch:before {
	border-width: 1px 0 0 1px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


#panel-result {
	width: 100%;
	height: 100%;
	padding: 10px;
	overflow: auto;
	text-align: left;
	color: #1296db;
}

#panel-result > div {
	border: 0!important;
}

/*+ 地图容器区域：外层区域：地图容器及父级节点一定要设置height高度，不然地图可能无法显示 +*/
.bds__graph_map {
    height: 99%;
	margin-top: 5px;
}
.bds__graph_map_container {
    position: relative;
    width: 100%;
	height: 100%;
   	padding: 5px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    overflow: hidden;
}
.bds__graph_map_container > div {
	border-radius: 14px;
}
/*+ -------- 右侧：查询区域 -------- +*/
.bds__search {
    width: 44%;
	height: 100%;
	margin-left: -5px;
	border-left: 1px solid #cac9c9;
}
.bds__search_form {
    padding: 5px 10px;
}
.bds__search_form > div {
    display: inline-block;   
    vertical-align: middle;
}
.bds__search_form_content {
}

.bds__search_form_box {
    position: relative;
    display: inline-block;   
    vertical-align: middle;
    margin-left: 10px;
}
.bds__search_form_box:first-child {
    margin-left: 0;
}
.bds__search_form_box > div {
    display: inline-block;   
    vertical-align: middle;
}
.bds__search_form_box_title {
    color: #888;
    font-size: 14px;
	font-weight: bold;
}
.bds__search_form_box_content {
    position: relative;
}
.bds__search_form_box_content button[type="button"] {
	border: 0;
	color: blue;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}
.bds__search_form_box_content button[type="button"]:hover {
	opacity: .7;
	filter: alpha(opacity=70);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.bds__search_form_box_drop {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	width: 150px;
	
	background-color: #fff;
	border: 1px solid #ddd;
	
	box-shadow: 0 1px 2px 0px #b6b6b6;
}
.bds__search_form_box_drop_list {
	height: auto;
	max-height: 450px;
	overflow: auto;
}
.bds__search_form_box_drop li {
	padding: 5px 12px;
	border-top: 1px solid #ddd;
}
.bds__search_form_box_drop li:first-child {
	border-top: 0;
}
.bds__search_form_box_drop li input[type="checkbox"],
.bds__search_form_box_drop li span {
	display: inline-block;
	vertical-align: middle;
}
.bds__search_form_box_drop li input[type="checkbox"] {
	margin-top: -2px;
}
.bds__search_form_box_drop li span {
	display: inline-block;
	width: 77%;
	margin-left: 2px;
	color: #666;
	font-size: 12px;
	cursor: pointer;
}
.bds__search_form_box_drop li:hover {
	background-color: #f5f5f5;
}
.bds__search_form_box_drop_operate {
	padding: 5px 10px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	cursor: pointer;
}
.bds__search_form_box_drop_operate:hover {
	opacity: .8;
	filter: alpha(opacity = 80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}


.bds__search_form_box_content input[type="text"] {
    width: 100px;
    padding: 7px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.bds__search_form_box_content input[type="text"].l-2x {
	width: 200px;
}
.bds__search_form_box_content input[type="text"].l-3x {
	width: 300px;
}
.bds__search_form_box_content input[type="text"].l-small {
	width: 80px;
}
.bds__search_form_box_content em {
    position: absolute;
    z-index: 1;
    right: 5px;
    margin-top: 8px;
    color: #999;
    font-size: 12px;
}
.bds__search_form_btn {
    margin-left: 5px;
}

.bds__search_result {

    padding: 8px 15px;
    border-top: 1px solid #e7e7e7;
    text-align: center;
}
.bds__search_result textarea {
    width: 100%;
    height: 500px;
    line-height: 1.8;
    padding: 6px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: auto;
    color: #555;
    font-size: 13px;
}


/*+ -------- 媒体查询 -------- +*/
@media screen and (max-width: 1600px) {
	.bds__search_form_content {
		width: 88%;
	}
}
@media screen and (max-width: 1400px) {
	.bds__search_form_content {
		width: 85%;
	}
}
@media screen and (max-width: 1200px) {
	.bds__graph_coord_row_content {
	    width: 45%;
	}
	.bds__search_form_content {
		width: 82%;
	}
}
@media screen and (max-width: 1000px) {
	.bds__graph_coord_row_content {
	    width: 55%;
	}
	.bds__search_form_content {
		width: 80%;
	}
}
@media screen and (max-width: 800px) {
	.bds__search_form_content {
		width: 75%;
	}
	
}